aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
cachetools==5.5.2
certifi==2025.7.14
charset-normalizer==3.4.2
discord.py==2.5.2
frozenlist==1.7.0
idna==3.10
multidict==6.6.3
orjson==3.11.1
propcache==0.3.2
python-dotenv==1.1.1
regex==2025.7.34
requests==2.32.4
sentence-splitter==1.4
tinydb==4.8.2
types-cachetools==6.1.0.20250717
typing_extensions==4.14.1
urllib3==2.5.0
winloop==0.2.1
yarl==1.20.1